*.pyc
storage/*
!storage/force_dir_in_git.txt
__pycache__/
build/
dist/
logs/
/scripts/textures/Zwift_02.dds
/scripts/textures/Zwift_02.tgax
/scripts/textures/Zwift_02.tgax.org
/scripts/ZwiftApp/glfw_bin
/scripts/ZwiftApp/1.32.1_106405
/scripts/ZwiftApp/.vs/ZwiftApp/v17
/scripts/ZwiftApp/.vs/ZwiftApp/FileContentIndex
/scripts/ZwiftApp/x64/Debug
/scripts/testStdString
/scripts/ZwiftApp/lib/Noesis-3.1.6
/scripts/ZwiftApp/x64/Release
/scripts/ZwiftApp/lib/Noesis-3.0.12
/scripts/ZwiftApp/lib/Wwise_v2021.1.11
/scripts/Patcher/x64/Debug
/scripts/ZwiftApp/consts
/scripts/ZwiftApp/lib/~Noesis-3.0.12
/scripts/ZwiftApp/lib/~Noesis-3.1.6
/scripts/ZwiftApp/lib/~Wwise_v2021.1.11
/scripts/ZwiftApp/lib/~protobuf_3.19
/scripts/ZwiftApp/.vs/CMake Overview
/scripts/ZwiftApp/.vs/cmake.db
/scripts/ZwiftApp/.vs/slnx.sqlite
/scripts/ZwiftApp/1.32.1_106405-Debug
