[submodule "scripts/ZwiftApp/glfw"]
	path = scripts/ZwiftApp/glfw
	url = https://github.com/glfw/glfw.git
[submodule "scripts/ZwiftApp/lib/tinyxml2"]
	path = scripts/ZwiftApp/lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "scripts/ZwiftApp/lib/protobuf_3.19"]
	path = scripts/ZwiftApp/lib/protobuf_3.19
	url = https://github.com/protocolbuffers/protobuf.git
	branch = 3.19.x
[submodule "scripts/ZwiftApp/lib/decNumber"]
	path = scripts/ZwiftApp/lib/decNumber
	url = https://github.com/dnotq/decNumber.git
